<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AspectHook.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1864F9E91DE68F3600E2FFB3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1864FA021DE68F3600E2FFB3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1864FA0D1DE68F3600E2FFB3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
